body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f0f2f5;
}

.app-container {
  max-width: 600px;
  margin: 0px auto;
  padding: 20px;
}

.app-header {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.quiz-window {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}